<div class="footer">
  <div class="footer-copyright">
    Created by <strong>Alexadre Falcão</strong>
  </div>
  <div class="footer-links">
    <a href="https://github.com/alexandre-falcao"><i class="fab fa-github fa-1x"></i></a>
  </div>
</div>
