.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-large {
  height: 50vh;
  max-height: 400px;
}


.movie-card-show {
  overflow: hidden;
  background: black;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  height: 80vh;
  padding: 10vh;
}

.movie-card-show img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.movie-card-show h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.movie-card-show p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.movie-card-show .movie-card-show-infos {
  padding: 16px;
}
