.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color: white;
  height: 10vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  height: 30px;
}

a.nav-link {
  color: white;
  font-size: 15px;
}

a.nav-link:hover {
  color: white;
  background: red;
  font-size: 15px;
}
